Repository CosmWasm/docs, pull requests merged in 2024-07, with the labels that each got.

#85 Document `MultiIndex`
  docs-test-gen/templates/storage.tpl
  src/pages/cw-storage-plus/containers/indexed-map.mdx
Labels: storage-plus

#100 MultiTest: Features
  src/pages/cw-multi-test.mdx
  src/pages/cw-multi-test/_meta.json
  src/pages/cw-multi-test/features.mdx
  src/pages/cw-multi-test/installation.mdx
Labels: multitest

#105 storey: Containers section
  src/pages/storey/containers.mdx
Labels: storey

#102 storey: Basics section
  src/pages/storey/basics.mdx
Labels: storey
